<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h2>Fonctionnalités</h2>
        <ul>
            <li><a href="{{url_for("congres_list")}}">Liste des congrès</a></li>
            <li><a href="{{url_for("participants_list")}}">Liste des participants</a></li>
            <li><a href="{{url_for("participants_add")}}">Créer un compte participant</a></li>
            <li><a href="">Créer un compte participant (Requète paramétrée)</a></li>
            <li><a href="{{url_for("inscriptions_search")}}">Consultation des inscriptions</a></li>
            <li><a href="">Création d'un nouveau congrès (Requète paramétrée)</a></li>
            <li><a href="">S'inscrire à un congrès (Requète paramétrée pour l'insertion)</a></li>
        </ul>
        <a href="{{url_for("index")}}">Retour à la page d'accueil</a>
    </header>
    {% block pageContent %}
    
    {% endblock %}
    <footer>
        <hr>
        &copy; Copyright 2030 by The site de gestion de congrès!
    </footer>
</body>
</html>
