<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fonctionnalités</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("congres_list")}}">Liste des congrès</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("participants_list")}}">Liste des participants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("participants_add")}}">Créer un compte participant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Créer un compte participant (Requète paramétrée)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("inscriptions_search")}}">Consultation des inscriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("congres_add")}}">Création d'un nouveau congrès (Requète
                            paramétrée)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">S'inscrire à un congrès (Requète paramétrée pour l'insertion)</a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="{{url_for("index")}}">Retour à la page d'accueil</a>
    </header>
    <div class="container">

        {% block pageContent %}

        {% endblock %}
    </div>
    <footer>
        <hr>
        &copy; Copyright 2030 by The site de gestion de congrès!
    </footer>
</body>

</html>
