{% extends "layouts/default.html" %}

{% block title %}Connexion{% endblock %}

{% block pageContent %}

<h1>Connexion</h1>
{% if errors %}
<div class="alert alert-danger" role="alert">
    {% for error in errors %}
        <div>{{error}}</div>
    {% endfor %}
</div>
{% endif %}
<form action="{{url_for("login")}}" method="post">
    <div class="form-group">
        <label for="email">Veuillez entrer votre email :</label>
    </div>
    <input type="email" name="email" id="email" class="form-control" placeholder="example@domain.com">
    <button type="submit" class="mt-2 btn btn-primary">Se connecter</button>
    <div class="text-center">
        <p>Pas de compte ? <a href="{{url_for("register")}}">S'inscrire</a></p>
    </div>
</form>


{% endblock %}
