
<form action="{{form_url}}" method="post">
    <div>
        {% for statut in list_statuts %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="CODESTATUT" id="CODESTATUT_{{statut['CODESTATUT']}}" value="{{statut['CODESTATUT']}}">
                <label class="form-check-label" for="CODESTATUT_{{statut['CODESTATUT']}}">
                    {{statut['NOMSTATUT']}}
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="NOMPART">Nom :</label>
        <input class="form-control" type="text" name="NOMPART" id="NOMPART">
    </div>
    <div class="form-group">
        <label for="PRENOMPART">Prénom :</label>
        <input class="form-control" type="text" name="PRENOMPART" id="PRENOMPART">
    </div>
    <div class="form-group">
        <label for="ORGANISMEPART">Organisme :</label>
        <input class="form-control" type="text" name="ORGANISMEPART" id="ORGANISMEPART">
    </div>
    <div class="form-group">
        <label for="CPPART">Code Postal :</label>
        <input class="form-control" type="number" name="CPPART" id="CPPART">
    </div>
    <div class="form-group">
        <label for="ADRPART">Adresse :</label>
        <input class="form-control" type="text" name="ADRPART" id="ADRPART">
    </div>
    <div class="form-group">
        <label for="VILLEPART">Ville :</label>
        <input class="form-control" type="text" name="VILLEPART" id="VILLEPART">
    </div>
    <div class="form-group">
        <label for="PAYSPART">Pays :</label>
        <input class="form-control" type="text" name="PAYSPART" id="PAYSPART">
    </div>
    <div class="form-group">
        <label for="EMAILPART">E-mail :</label>
        <input class="form-control" type="email" name="EMAILPART" id="EMAILPART">
    </div>
    <button class="btn btn-primary mt-4" type="submit">Créer</button>
</form>
